#ctx{
  font-size: 30px;
  font-family: sans-serif;
}
.botones{
  display: none;
}
th{
  font-size: 24px;
}
input{
  height: 50px;
  width: 100px;
}
div.ex1 { /* Área Contexto */
  width: 600px;
  height: auto;
  border: 3px solid blue;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
div.ex2{ /* Área Botones */
  width: 600px;
  height: auto;
  border: 3px solid red;
  margin: auto;
}
#stats {
  height: 100%;
  width: 30%;
  vertical-align: top;
  text-align: left;
  font-family: verdana;
}
table {
  width: 500px;
  height: 300px;
}
table, th, td { /* Borde de la tabla */
  border: 3px solid black;
  border-collapse: collapse;
  margin: auto;
}
body {
  background-color: #aaaaaaaa;
  text-align: center;
}
h1 {
  color: black;
  text-align: center;
  font-family: sans-serif;
}
p {
  font-family: verdana;
  font-size: 15px;
}
canvas {
  border-style: inset;
}
